# ignore everything
*

# allow files and directories
!.github
!.github/**
!.taskfiles
!.taskfiles/**
!assets
!assets/**
!data
!data/**
!modules
!modules/**
!terraform
!terraform/**
!.editorconfig
!.gitignore
!.markdownlint.yaml
!.mega-linter.yaml
!.mise.toml
!.pre-commit-config.yaml
!.prettierignore
!.prettierrc.yaml
!.terraform-docs.yaml
!.tflint.hcl
!.trivyignore.yaml
!.yamllint.yaml
!atlantis.yaml
!README.md
!Taskfile.yaml

# ignore unnecessary files inside allowed directories
# this should go after the allowed directories
**/*.log
**/.DS_Store
**/Thumbs.db

# Editors
*.swp

# vscode-sops
.decrypted~*.yaml

# terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.*
*.tfplan
*.tfplan.*
.terraform
.terraform.lock.hcl
