# ignore everything
*

# allow files and directories
!/.github
!/.taskfiles/**/Taskfile.yaml
!/assets/*.png
!**/*.yaml
!**/*.tf
!**/README.md
!.editorconfig
!.gitignore
!.markdownlint.yaml
!.mega-linter.yaml
!.mise.toml
!.pre-commit-config.yaml
!.prettierignore
!.prettierrc.yaml
!.terraform-docs.yaml
!.tflint.hcl
|.trivyignore.yaml
!.yamllint.yaml
!atlantis.yaml
!README.md
!Taskfile.yaml


# ignore unnecessary files inside allowed directories
# this should go after the allowed directories
**/*.log
**/.DS_Store
**/Thumbs.db

# Editors
*.swp

# vscode-sops
.decrypted~*.yaml
