---
# we want to run automerge atlantis managed PRs if no change is detected in the infrastructure.
# this is required because atlantis does not support automerge on no changes.
# this mostly happens when a PR is created by renovate (f.e. tyriis-automation[bot]).
name: atlantis apply on no changes

on:
  issue_comment:
    types: [created]

jobs:
  atlantis-apply-on-no-changes:
    uses: techtales-io/github-workflows/.github/workflows/atlantis-apply-on-no-changes.yaml@01774392cb1618d8e7f699697422b199bfb30ba8 # v0.4.1
    permissions:
      contents: read
      pull-requests: write
    if: >
      !!github.event.issue.pull_request &&
      github.event.comment.user.login == 'techtales-atlantis[bot]' &&
      contains(github.event.comment.body, 'No changes. Your infrastructure matches the configuration.')
    with:
      runner: ubuntu-latest
    secrets:
      github-app-id: ${{ secrets.BOT_APP_ID }}
      github-app-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
